[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
matplotlib = "==3.7.1"
numpy = "==1.23.5"
scikit-learn = "==1.2.2"
jupyterlab = "*"

[dev-packages]

[requires]
python_version = "3.11"
python_full_version = "3.11.5"
